Repository itsmegrave/breu-character-roller: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, bun run test -- --run --reporter=verbose --passWithNoTests

fix: update devDependencies for improved compatibility and performance
  bun.lock
  package.json
Due: prettier --write

feat: integrate Sentry for error tracking and performance monitoring
  .gitignore
  bun.lock
  package.json
  setup-secrets.sh
  src/hooks.client.ts
  src/hooks.server.ts
  src/instrumentation.server.ts
  svelte.config.js
  vite.config.ts
Due: prettier --write, eslint --fix, bun run test -- --run --reporter=verbose --passWithNoTests

feat: add Web Vitals monitoring and performance tracking for improved app metrics
  bun.lock
  docs/web-vitals.md
  package.json
  src/hooks.client.ts
  src/lib/performance.ts
  src/lib/web-vitals.ts
  src/routes/+page.svelte
Due: prettier --write, eslint --fix, bun run test -- --run --reporter=verbose --passWithNoTests

feat: implement countdown timer and death banner for attribute generation
  src/routes/+page.svelte
Due: prettier --write, eslint --fix, bun run test -- --run --reporter=verbose --passWithNoTests

refactor: clean up code structure and improve readability in attribute generation
  src/routes/+page.svelte
Due: prettier --write, eslint --fix, bun run test -- --run --reporter=verbose --passWithNoTests

feat: implement character generation logic with countdown and attribute management
  package.json
  src/lib/character-generator.ts
  src/lib/types.ts
  src/routes/+page.svelte
Due: prettier --write, eslint --fix, bun run test -- --run --reporter=verbose --passWithNoTests

feat: update Sentry integration for improved error handling and performance monitoring in Cloudflare Workers
  src/hooks.client.ts
  src/hooks.server.ts
  src/instrumentation.server.ts
Due: prettier --write, eslint --fix, bun run test -- --run --reporter=verbose --passWithNoTests

docs: update README to enhance project description, features, and deployment instructions
  README.md
Due: prettier --write

fix: update project name in Sentry configuration to match the current project
  src/hooks.client.ts
  vite.config.ts
Due: prettier --write, eslint --fix, bun run test -- --run --reporter=verbose --passWithNoTests

feat: add Sentry CLI integration for release management and deployment
  bun.lock
  package.json
Due: prettier --write

docs: translate README to Portuguese and update content for clarity and consistency
  README.md
Due: prettier --write

fix: add .idea to .gitignore to prevent IDE configuration files from being tracked
  .gitignore
Due: none

feat: implement random death phrases for character generation
  src/lib/types.ts
  src/routes/+page.svelte
Due: prettier --write, eslint --fix, bun run test -- --run --reporter=verbose --passWithNoTests

Add MIT License to the project
  LICENSE
Due: none

fix tests
  bun.lock
  package.json
  src/demo.spec.ts
  src/routes/page.svelte.spec.ts
  src/tests/character-generator.unit.test.ts
  src/tests/page.test.ts
  src/tests/page.unit.test.ts
  src/tests/types.unit.test.ts
  vitest.config.ts
Due: prettier --write, eslint --fix, bun run test -- --run --reporter=verbose --passWithNoTests

feat: add comprehensive test specification for RPG Character Roller application
  docs/sentry-cloudflare-workers.md
  docs/test-specification.md
Due: prettier --write

feat: add new death phrase to enhance character generation variety
  src/lib/types.ts
Due: prettier --write, eslint --fix, bun run test -- --run --reporter=verbose --passWithNoTests

feat: integrate visual dice rolling with dual DiceBox for enhanced character generation
  src/lib/character-generator.ts
  src/lib/dice-box.ts
  src/lib/types-external.d.ts
  src/routes/+page.svelte
Due: prettier --write, eslint --fix, bun run test -- --run --reporter=verbose --passWithNoTests

feat: refactor character generation logic and introduce death phrases for enhanced gameplay experience
  src/lib/character-generator.ts
  src/lib/core/character.ts
  src/lib/core/constants.ts
  src/lib/core/types.ts
  src/lib/dice/index.ts
  src/lib/dice/types.ts
  src/lib/dice/visual.ts
  src/lib/metrics/index.ts
  src/lib/metrics/web-vitals.d.ts
  src/lib/metrics/web-vitals.ts
  src/lib/performance.ts
  src/lib/types.ts
Due: prettier --write, eslint --fix, bun run test -- --run --reporter=verbose --passWithNoTests

feat: implement visual dice rolling in character generation and refactor related logic
  src/lib/core/character.ts
  src/routes/+page.svelte
  vite.config.ts
Due: prettier --write, eslint --fix, bun run test -- --run --reporter=verbose --passWithNoTests

feat: rename death banner to weakling banner for improved clarity in character generation
  src/lib/core/character.ts
  src/lib/types.ts
  src/routes/+page.svelte
  src/tests/page.unit.test.ts
  src/tests/types.unit.test.ts
Due: prettier --write, eslint --fix, bun run test -- --run --reporter=verbose --passWithNoTests

feat: refactor dice rolling functions and update visual themes for improved clarity and consistency
  src/lib/core/character.ts
  src/lib/dice-box.ts
  src/routes/+page.svelte
  src/tests/page.unit.test.ts
  src/tests/types.unit.test.ts
Due: prettier --write, eslint --fix, bun run test -- --run --reporter=verbose --passWithNoTests

feat: update DiceBox theme colors for improved visual consistency during rolls
  src/lib/dice-box.ts
Due: prettier --write, eslint --fix, bun run test -- --run --reporter=verbose --passWithNoTests

feat: implement DiceBox integration with promise-based roll resolution and update theme colors
  src/lib/core/character.ts
  src/lib/dice/constants.ts
  src/lib/dice/dice-box.ts
  src/lib/dice/index.ts
  src/lib/dice/types.ts
  src/lib/dice/visual.ts
  src/routes/+page.svelte
Due: prettier --write, eslint --fix, bun run test -- --run --reporter=verbose --passWithNoTests

Update src/lib/core/character.ts
  src/lib/core/character.ts
Due: prettier --write, eslint --fix, bun run test -- --run --reporter=verbose --passWithNoTests

feat: add new death phrase to enhance character generation variety (#1)
  src/lib/character-generator.ts
  src/lib/core/character.ts
  src/lib/core/constants.ts
  src/lib/core/types.ts
  src/lib/dice/constants.ts
  src/lib/dice/dice-box.ts
  src/lib/dice/index.ts
  src/lib/metrics/index.ts
  src/lib/metrics/web-vitals.d.ts
  src/lib/metrics/web-vitals.ts
  src/lib/performance.ts
  src/lib/types-external.d.ts
  src/lib/types.ts
  src/routes/+page.svelte
  src/tests/page.unit.test.ts
  src/tests/types.unit.test.ts
  vite.config.ts
Due: prettier --write, eslint --fix, bun run test -- --run --reporter=verbose --passWithNoTests

Path conditions:
  prettier --write: any of: *.{js,ts,svelte,json,md,css,html}
  eslint --fix: any of: *.{js,ts,svelte}
  bun run test -- --run --reporter=verbose --passWithNoTests: any of: *.{js,ts,svelte,spec.ts}
